# Dependencies
node_modules/

# Build
dist/

# Environment
.env
.env.local

# Logs
logs/
*.log

# Uploads
uploads/*
!uploads/.gitkeep

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
coverage/

# Prisma
*.db
